<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.hskj.monitor.mapper.UserInfoMapper">
	<resultMap type="com.hskj.monitor.model.UserInfo" id="BaseResultMap">
		<id column="sn" property="sn"/>
		<result column="user_id" property="userId"/>
		<result column="user_pwd" property="userPwd"/>
		<result column="user_name" property="userName"/>
		<result column="mobile" property="mobile"/>
		<result column="email" property="email"/>
		<result column="insert_time" property="insertTime"/>
		<result column="status" property="status"/>
	</resultMap>
	<sql id="_columns">
		sn,user_id,user_pwd,user_name,mobile,email,insert_time,status
	</sql>
	
	<sql id="_where">
		<where>
			1=1
			
			<if test="@com.hskj.common.mybatis.MybatisOgnl@isNotEmpty(sn)">
				and sn = #{sn}
			</if>
			
			<if test="@com.hskj.common.mybatis.MybatisOgnl@isNotEmpty(userId)">
				and user_id like concat ('%',#{userId} ,'%')
			</if>
			
			<if test="@com.hskj.common.mybatis.MybatisOgnl@isNotEmpty(userName)">
				and user_name like concat ('%',#{userName} ,'%')
			</if>
			
			<if test="@com.hskj.common.mybatis.MybatisOgnl@isNotEmpty(status)">
				and status = #{status}
			</if>
			
		</where>
	</sql>
	
	<select id="getByPk" parameterType="int" resultMap="BaseResultMap">
    	SELECT <include refid="_columns" /> FROM user_info WHERE sn=${value}
	</select>

	<update id="update" parameterType="com.hskj.monitor.model.UserInfo">
		UPDATE user_info SET user_id=#{userId},user_pwd=#{userPwd},user_name=#{userName},mobile=#{mobile},email=#{email},insert_time=#{insertTime},status=#{status} WHERE sn=${sn}
	</update>

	<insert id="insert" parameterType="com.hskj.monitor.model.UserInfo">
		INSERT INTO user_info (user_id,user_pwd,user_name,mobile,email,insert_time,status) VALUES (#{userId},#{userPwd},#{userName},#{mobile},#{email},now(),#{status})
	</insert>

	<delete id="delete" parameterType="long">
		DELETE FROM user_info WHERE sn in (${value})
	</delete>

	<select id="getByPkIds" parameterType="long" resultMap="BaseResultMap">
		SELECT <include refid="_columns" /> FROM user_info WHERE sn in (${value})
	</select>

	<select id="getListByPage" resultMap="BaseResultMap" parameterType="com.hskj.common.mybatis.BasePage">
		SELECT <include refid="_columns" /> from user_info
		<include refid="_where"/>
		ORDER BY sn DESC
	</select>
	
	<select id="getList" resultMap="BaseResultMap" parameterType="map">
		SELECT <include refid="_columns" /> from user_info
		<where>
			1=1
			
			<if test="@com.hskj.common.mybatis.MybatisOgnl@isNotEmpty(sn)">
				and sn = #{sn}
			</if>
			
			<if test="@com.hskj.common.mybatis.MybatisOgnl@isNotEmpty(userId)">
				and user_id = #{userId}
			</if>
			
			<if test="@com.hskj.common.mybatis.MybatisOgnl@isNotEmpty(userName)">
				and user_name like concat ('%',#{userName} ,'%')
			</if>
			
			<if test="@com.hskj.common.mybatis.MybatisOgnl@isNotEmpty(status)">
				and status = #{status}
			</if>
			
		</where>
		ORDER BY sn DESC
	</select>		
	
	<insert id="insertGetPk" parameterType="com.hskj.monitor.model.UserInfo">
		INSERT INTO user_info (user_id,user_pwd,user_name,mobile,email,insert_time,status) VALUES (#{userId},#{userPwd},#{userName},#{mobile},#{email},#{insertTime},#{status})
		<selectKey keyProperty="sn" resultType="int" order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
	</insert>

</mapper>

